h1 {
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255)
}

h2 {
    font-family: 'Arial', sans-serif;
}

p:first-of-type {
    color: blue;
}

p:nth-of-type(2) {
    color: red;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10%;
}

p {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #383838;
    padding-top: 50px;
}

/* Banner styles */
.banner {
    width: 100%;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 0px 0; /* Padding */
    position: fixed; /* Fixed position */
    top: 0; /* Stay at the top */
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
}


/* Add some padding to the body to prevent content from being hidden behind the banner */
body {
    padding-top: 50px; /* Adjust based on the banner height */
}
