h1 {
    font-family: 'Arial', sans-serif;
}

h2 {
    font-family: 'Arial', sans-serif;
}

h2:first-of-type {
    color: blue;
}

h2:nth-of-type(2) {
    color: red;
}

p {
    font-family: 'Arial', sans-serif;
}

img {
    width: 200px;
    height: auto;
}

/* Banner styles */
.banner {
    width: 100%;
    background-color: #000000; /* Green background */
    color: rgb(35, 186, 33); /* White text */
    text-align: center; /* Centered text */
    /* padding: 10px 0; /* Padding */
    position: fixed; /* Fixed position */
    top: 0; /* Stay at the top */
    left: 0;
    z-index: 1000; /* Ensure it stays on top */
}

/* Add some padding to the body to prevent content from being hidden behind the banner */
body {
    padding-top: 50px; /* Adjust based on the banner height */
}
